@import url(main.css);
@import url(header.css);
@import url(footer.css);
@import url(top.css);
@import url(content.css);
@import url(left.css);
@import url(right.css);
@import url(mailform.css);

#left-menu-box {
	margin: 0 0 0 6px;
	padding: 15px 0;
	background-image:url(./../img/background_left_menu.gif);
	background-repeat: no-repeat;
}

#middle-marker-box {
	margin: 0;
	padding: 6px;
}

#left-marker-box {
	margin: 6px 0px 6px 6px;
	padding: 0;
}

#left-marker {
	margin: 0;
	padding: 0 6px;
	background: #e4e0e7;
}

#left {
	float: left;
	width: 210px;
	background: #FFFFFF
/*	z-index: 4; */
}

#left-content {
/*	position: relative;
	z-index: 5;*/
 	width: 208px;
}

#middle {
	float: left;
	width: 590px;
	z-index: 2;
	background: #FFFFFF;
}

#middle-content {
/*	position: relative;
	z-index: 3;*/
	width: 590px;
}

#right-menu-box {
	margin: 6px 0 0 0;
	padding: 0 15px;
	background-image:url(./../img/background_left_menu.gif);
	background-repeat: no-repeat;
}

#right-marker-box {
	margin: 0;
	padding: 6px 6px 6px 0;
}

#right-marker {
	margin: 0;
	padding: 0 6px;
	background: #e4e0e7;
}

#right {
	float: left;
	width: 200px;
/*	z-index: 4; */
	background: #FFFFFF;

}

#right-content {
/*	position: relative; */
	width: 200px;
}
