body {
  background: url('/images/site/likebarreviewed.jpg') repeat-x;
  padding: 0px;
  margin: 0px;
}
#likebar_fixed_center {
  width: 1015px;
  _width: auto;
  margin-left: auto;
  margin-right: auto;
}
#top_side_logo_section,
#top_side_facebook_section,
#top_side_twitter_section {
  float: left;
  clear: none;
  text-align: left;
  vertical-align: center;
  color: #ffffff;
}
.left {
  display: block;
  float: left;
  padding-right: 10px;
}
.right {
  display: block;
  float: left;
}
#top_side_facebook_section .left,
#top_side_twitter_section .right {
  font-family: arial;
  font-size: 12px;
  font-weight: bold;
}
#top_side_facebook_section .left{
  padding-top: 3px;
}
#top_side_twitter_section .right {
  padding-top: 2px;
}

iframe {
  float: left;
  clear: none;
}
#top_side_logo_section {
  width: 190px;
}
#top_side_facebook_section {
  padding: 3px;
  width: 185px;
}
#top_side_twitter_section {
  padding: 3px;
}
#top_side_twitter_section {
  width: 175px !important;
}
#top_bar_logo {
  margin-left: -78px;
  _margin-left: 0px;
  background: url("/images/site/space-logo_top.png");
  _background: url("/images/site/space-logo_top_ie6.png");
  width: 283px;
  height: 30px;
  cursor: pointer;
}

#top_side_newsletter_section a {
  color: white;
  display: block;
  float: right;
  font-family: Arial,Verdana,Helvetica,sans-serif;
  font-size: 13px;
  font-weight: bold;
  margin-top: 5px;
  text-align: right;
  padding-right: 10px;
}

