
body {
  background-color: #000000;
  background-image: url('/images/site/page-bg.jpg');
  background-position: top center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  margin: 0px;
  font-family:Arial,Verdana,Helvetica,sans-serif;
  font-size:12px;
  color:#FFFFFF;
}
img{ border:none; }
#underlay {
  position:fixed;
  width:1006px;
  height:100%;
  margin-left:auto;
  .margin-left:6px;
  margin-right:auto;
  background-color:#000000;
  opacity:0.8;
  .filter:alpha(opacity=80);
  -ms-filter: 'alpha (opacity=80)';
  z-index:-1;
  left:0;
  right:0;
  .left:auto;
  .right:auto;
  _display:none;
  overflow: hidden;
}
#bg_underlay {
  position:fixed;
  _position:absolute;
  height:100%;
  z-index:-2;
  overflow: hidden;
}

#container
{
  margin: 0 auto;
  width: 1020px;
  background: transparent;
  _background: #000000;
  overflow: hidden;
}

#containerBg
{
  float: left;
  width: 970px;
  padding: 0px 25px 0px 25px;
  background-image: url('/images/site/page-gradient.png');
  background-repeat: repeat-y;
  _background: none;
  _filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/site/page-gradient.png', sizingMethod='scale');
}

#header
{
  width:971px;
  height:103px;
  display:inline-block;
  background-image:url('/images/site/space-logo.png');
  _background-image:none;


}
#tmnDiv{ background-color:#1A1B1A;-moz-border-radius:5px;-moz-box-shadow:0 5px 20px #424242; padding:15px; }
#newReg{ background-color:#1A1B1A;-moz-border-radius:5px;-moz-box-shadow:0 5px 20px #424242; padding:15px; width: 415px; }
.header_logo_cont{ width:690px; float:left; }
.header_logo{ width:405px; float:right; height:103px; _filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/site/space-logo.png', sizingMethod='scale'); }
.header_search{ width:280px; float:left; padding-top:6px; }
.search_containers{ width:190px; float:right; }
.search_cont_top{ width:100%; height:60px; float:left; padding-bottom:8px; background-image:url('/images/site/SPACE-store-logo.png'); background-repeat:no-repeat; background-position:center right; }
.search_cont_top a,.search_cont_top a:visited{ color:#FFFFFF; font-size:11px; text-decoration:none; }
.search_cont_top a:hover{ color:#727f6e; }
.search_cont_bot{ width:100%; float:left; }
.search_cont_bot div{ width:auto; float:right; }
.header_searchbox input{ width:135px; border:0; background-image:url('/images/site/searchbar.jpg'); background-repeat:no-repeat; padding:2px 8px 3px; height:16px; }
.header_searchbut input{ width:29px; padding-bottom:3px; background-image:url('/images/site/searchbutton.jpg'); background-repeat:no-repeat; border:0;cursor:pointer; height:21px; .margin-top:1px;}

#header h1 { margin: 0; }

#navigation
{
  float: left;
  width: 100%;
  background: repeat-x url('/images/site/top_nav_bg.png');
  height:29px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
}

#navigation ul
{
  margin: 0;
  padding: 0;
}

#navigation ul li
{
  list-style-type: none;
  display: inline;
}

#navigation li .left {
  display: block;
  float: left;
  padding: 7px 10px;
  color: #fff;
  text-decoration: none;
  border-right: 1px solid #666;
  background: repeat-x url('/images/site/top_nav_bg.png');
  font-size: 10px;
}
#navigation span span{ float:left; }
#navigation span span a
{
  display: block;
  float: left;
  padding: 7px 9px;
  color: #fff;
  text-decoration: none;
  border-right: 1px solid #666;
  background: repeat-x url('/images/site/top_nav_bg.png');
  font-size: 12px;
  font-family: 'arial';
  font-weight: bold;
}

#navigation span span a:hover { background:url("/images/site/top_nav_bg2.png") repeat-x; }

#content-container
{
  float: left;
  width: 100%;
  margin: 20px 0 20px 0;
}

#content
{
  clear: left;
  float: left;
  width: 575px;
  padding: 15px;
}

.twtr-tweet { border-color:#7b8779 !important; }

#content h2 { margin: 0; }

#side_nav
{
  float: right;
  width: 335px;
}

#ad_billboard, #ad_billboard2{
  min-height:250px;
}

.ad_billboard, .ad_billboard2{
  min-height:250px;
}

.side_row {
    float:left;
    width:305px;
    padding:15px;
    background: url('/images/site/trans-greenish.png') repeat;
    /*.background: url('/images/site/trans-greenishb.png') repeat;*/
    .background: none;
    .background-color: #1b1f1b;
}

#side_nav h3 { margin: 0; }

#footer
{
  clear: both;
  float:left;
  background: #090909;
  text-align: right;
  padding: 20px;
  height: 1%;
  background-image: url('/images/site/footer-bg.png');
  background-repeat: repeat-x;
  background-position: top;
}

#ad-leaderboard {
  clear: both;
  padding-top: 20px;

}

#ad-leaderboard .leaderboard {
  text-align: center;
  min-height:90px;
}

.ad_leaderboard{ min-height:90px; }

.rnav_spacer{
  width:100%;
  float:left;
  height:20px;
}
.article_img_left{
  float:left;
  margin:15px 15px 15px 0px;
  max-width:162px;
  _width:162px;
  clear:both;
  color:#727f6e;
}
.article_img_right{
  float:right;
  margin:15px 0px 15px 15px;
  max-width:162px;
  _width:162px;
  clear:both;
  color:#727f6e;
}
.article_img_i02{
  clear:both;
  float:left;
  margin:15px 0px;
  width:100%;
  text-align:left;
  color:#727f6e;
}

/*********************************** Main Classes *************************************/
.search_cont{ width:182px; float:right; margin-top:45px; }
.join_commun{ width:100%; float:left; padding-bottom:6px; }
.join_commun div{ width:auto; float:left; padding-right:10px; color:#FFFFFF; font-size:11px; padding-left:6px; }
.sign_in{ padding-left:9px; }
.our_commun{ padding-left:6px; }
.search{ width:100%; float:left; }
.search div{ width:auto; float:left; }
.search_box{ width:143px; border:1px inset #898989; letter-spacing:0.6px; font-size:11px; border-right:none; padding:5px 6px 1px; -moz-border-radius-topleft:5px; -moz-border-radius-bottomleft:5px; -webkit-border-top-left-radius:5px; -webkit-border-bottom-left-radius:5px; background-color:#eeeeec; }
.topad{ width:100%; text-align:center; float:left; padding:12px 0px 14px; }
.bc_long{ width:100% !important; }
.main_content{ width:970px; float:left;}
.left_content{ width:630px; float:left; }
.right_content{ width:335px; float:right; }
.rcspace_nobg{ background-image:none; }
.ctopcont{ width:100%; float:left; }
.by_line a{color:white;}
.temp_cont{float:left;background-color:#c1c1c1;}
.social_small{width:95px !important;height:20px;}
.social_big{width:300px !important;height:300px;}

/*********************************Right Nav Classes **********************************/

/*************Right Nav Adsense **************/
.rn_adsense{ width:100%; float:left; color:#FFFFFF; }
.rn_adsense div{ width:100%; float:left; padding-bottom:5px; }
.rn_adsengap{ padding-bottom:20px; }
.adsense_goo{ padding-bottom:10px; width:100%; }
.adsense_goo a,.adsense_goo a:visited{ color:#FFFFFF; text-decoration:none; font-size:12px; }
.rn_adsenbot{ color:#666666; }
.rn_adsenbot a,.rnadsenbot a:visited{ color:#727f6e; text-decoration:none; font-size:11px; }
.rn_adsenbot a:hover{ color:#FFFFFF; }
.rn_title{ font-size:18px; color:#FFFFFF; }
.rn_title a,.rn_title a:visited{ font-size:18px; color:#727F6E; text-decoration:none; }
.rn_title a:hover{ color:#FFFFFF; }

/*************Right Nav Twitter **************/
.twitter_activity{ width:100%; float:left; padding-bottom:5px; }
.twitter_activity a,.twitter_activity a:visited{ color:#FFFFFF; font-size:20px; text-decoration:underline; }
.twitter_activity div{ width:auto; float:left; }
.rn_twitfollow{ padding:1px 0px 0px 5px; }
.rn_twitcom{ width:280px; float:left; padding:10px; color:#FFFFFF; padding-bottom:10px; border-bottom:1px solid #666666; }
.rn_twitcom a{ color:#FFFFFF; text-decoration:none; }
.rn_twitcom div{ width:100%; float:left; padding-bottom:5px; }
.rn_twitcom span{ color:#666666; text-decoration:none; }

/*************Right Nav Facebook **************/
.facebook_activity{ width:100%; float:left; }
.facebook_login{ width:100%; float:left; color:#fFFFFF; padding:10px 0px 20px; border-bottom:1px solid #666666; }
.fb_text{ width:210px; float:left; padding-right:35px; font-size:12px; }
.fb_button{ width:40px; float:left; }
.fb_articles{ width:100%; float:left; border-bottom:1px solid #666666; color:#FFFFFF; padding-top:20px; }
.fb_articles a{ color:#FFFFFF; text-decoration:none; }
.fb_artrow{ width:100%; padding-bottom:10px; }
.fb_articles div{ float:left; }
.fb_articleimg{ width:35px; padding-right:10px; }
.fb_arttext{ width:250px; }
.fb_arttext div{ width:100%; }
.fb_arttext span{ color:#666666; }
.fb_plugin{ width:100%; font-size:11px; color:#FFFFFF; float:left; padding-top:10px; }
/*****************************************************************************************/

/******************************  footer classes ******************************************/
.bottom_content{ width:100%; float:left; margin-top:20px;}
.footer{ width:939px; float:left; background-image:url('/images/site/footer-bg.jpg'); background-repeat:repeat-x; margin-bottom:20px; padding:13px 15px 14px 15px; background-color:#0A0A0A; overflow:hidden; }
.media_network{ width:268px; float:left; padding-left:23px; }
.network_title{ width:100%; float:left; font-size:12px; font-weight:bold; color:#FFFFFF; }
.network_sites{ width:100%; float:left; font-size:12px; color:#666666; padding-top:12px; }
.network_sites div{ width:134px; float:left; padding-bottom:3px; }
.network_sites a, .network_sites a:visited{ color:#727f6e; text-decoration:none; }
.network_sites a:hover{ color:#FFFFFF; }
.site_pages{ width:131px; float:left; border-right:1px dotted #666666; padding-bottom:200px; margin-bottom:-200px; }
.site_pagelinks{ width:100%; float:left; padding-top:14px; }
.site_pagelinks div{ width:100%; float:left; padding-bottom:4px; }
.site_pagelinks a, .site_pagelinks a:visited{ color:#727F6E; text-decoration:none; font-size:12px; }
.site_pagelinks a:hover{ color:#FFFFFF; }
.footer_mailing{ width:268px; float:left; border-left:1px dotted #666666; border-right:1px dotted #666666; padding:20px 30px 10px; padding-bottom:200px; margin-bottom:-200px; }
.mailing_top{ width:100%; float:left; }
.mailing_top a, .mailing_top a:visited{ color:#FFFFFF; text-decoration:none; font-size:11px; }
.mailing_top a:hover{ color:#727f6e; }
.mailing_top div{ width:auto; float:left; }
.mailing_right{ float:right !important; padding-top:5px; }
.mailing_input{ width:265px; float:left; font-size:11px; color:#777777; padding:7px 0px 0px 3px; }
.mailing_input input{ width:260px; padding:2px; margin:2px 0px 0px; .margin:1px 0px 0px; color:#999999; border:1px inset #666666; }
.mailing_submit{ width:100%; float:left; text-align:right; padding-top:15px; }
.footer_share{ width:166px; float:left; font-size:11px; color:#FFFFFF; padding-left:20px; }
.footer_share div{ width:100%; float:left; padding-bottom:10px; }
.footer_share div div{ width:auto; padding:7px 7px 0px 0px; float:left; }
/*****************************************************************************************/

/******************************* Right Nav Share Buttons *********************************/
.share_buttons{ width:100%; float:left; }
.share_buttons div{ width:auto; float:left; }
.rn_followus{ width:auto; float:left; padding:15px 5px 0px 0px; font-size:22px; font-weight:bold; }
.rn_sharespace{ padding:20px 10px; width:320px; }
/*****************************************************************************************/

/******************************* More Network Stories ************************************/
.network_stories{ width:616px; float:left; color:#FFFFFF; padding-top:43px; }
.ns_title{ width:100%; float:left; padding-bottom:25px; }
.ns_stories{ width:100%; float:left; font-size:14px; padding-bottom:20px; }
.ns_stories div{ width:100%; float:left; padding-bottom:18px; }
.ns_stories a,.ns_stories a:visited{ color:#727f6e; text-decoration:none; font-weight:bold; }
.ns_stories span a{ color:#FFFFFF !important; text-decoration:none; font-weight:normal !important; }
/*****************************************************************************************/

/******************************** Most Popular Articles ***********************************/
.mp_articles{ width:100%; float:left; color:#FFFFFF; padding-bottom:20px; font-weight:bold; }
.mp_articles a{ color:#FFFFFF; text-decoration:none; font-size:14px; font-weight:bold; }
.mp_title{ width:100%; float:left; }
.mp_back{ background-color:#727f6e; padding:2px; margin-top:2px; float:left; }
/*****************************************************************************************/
/* IMAGE trans border  - set specific width / height on specific locations. */
.img_overlay {
    -moz-box-shadow:0 0 8px #000000 inset;
    -webkit-box-shadow:0 0 8px #000000;
    box-shadow:inset 0 0 8px #000000;
    border:6px solid #FFFFFF;
    display:block;
    opacity:0.34;
    .filter:alpha(opacity=34);
    -ms-filter: 'alpha (opacity=34)';
    position:relative;
    z-index:1;
}
a:hover .img_overlay { opacity:.6; -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=65)"; filter: alpha(opacity=65); }
.overlay_i192 { width:180px; height:116px; margin-bottom:-128px;}
.overlay_iFF { width:348px; height:228px; margin-bottom:-240px;}
.overlay_i00 { width:88px; height:55px; margin-bottom:-67px;}
.overlay_i120 { width:108px; height:68px; margin-bottom:-80px;}
.overlay_i235 { width:223px; height:144px; margin-bottom:-156px;}
.overlay_i107 { width:95px; height:61px; margin-bottom:-73px;}
.overlay_i07 { width:128px; height:81px; margin-bottom:-93px;}
.overlay_i01 { width:150px; height:96px; margin-bottom:-108px;}
.overlay_i84 { width:72px; height:44px; margin-bottom:-56px;}
.overlay_v_thumb { width:108px; height:78px; margin-bottom:-90px; }
.overlay_iFF_black { width:340px; height:220px; margin-bottom:-240px;}
.overlay_i235_black{ width:215px; height:135px; margin-bottom:-155px; }
.centered_i235_magnify{ width:235px; height:154px; margin-bottom:-154px; display:block; opacity:1; position:relative; z-index:-1; background-image:url('/images/site/c2e-magnify-icon.png'); background-repeat:no-repeat; background-position:center; }
a:hover .centered_i235_magnify { z-index:2 }
.centered_magnify { width:360px; height:240px; margin-bottom:-240px; display:block; opacity:1; position:relative; z-index:-1; background-image:url('/images/site/c2e-magnify-icon.png'); background-repeat:no-repeat; background-position:center; }
.img_overlay_black { border:10px solid #000000; display:block; opacity:.2; .filter:alpha(opacity=20); -ms-filter: 'alpha (opacity=20)'; position:relative; z-index:-1; }
a:hover .centered_magnify { z-index:2 }
a:hover .img_overlay_black { z-index:1; }
/************************** Popup Image Classes ******************************************/
.large_popper { width:900px; height:600px; padding:10px 12px 10px 10px; background-image:url("/images/site/full_screen_popper.png"); background-color:#FFFFFF; border:1px solid #000000; display:none; -moz-box-shadow:0px 0px 20px 5px #FFF; -webkit-box-shadow:0px 0px 20px 5px #FFF; box-shadow:0px 0px 20px 5px #FFF; -moz-border-radius:10px; -webkit-border-radius:10px; border-radius:10px; }
.large_popper .close { background-image:url(/images/site/popup-close-button.jpg); background-repeat:no-repeat; position:absolute; left:0px; top:0px; -moz-border-radius-bottomright:10px; -webkite-border-bottom-right-radius:10px; -moz-border-radius-topleft:10px; -webkit-border-top-left-radius:10px; border-top-left-radius:10px; border-bottom-right-radius:10px; background-color:#FFFFFF; cursor:pointer; height:36px; width:35px; -moz-box-shadow:4px 4px 5px 0px #676767; -webkit-box-shadow:4px 4px 5px 0px #676767; box-shadow:4px 4px 5px 0px #676767; }
.current_custom{ width:900px; height:600px; overflow:auto; text-align:center; background-color:#FFFFFF; -moz-box-shadow:0px 0px 5px 3px #999999; -webkit-box-shadow:0px 0px 5px 3px #999999; box-shadow:0px 0px 5px 3px #999999; border:1px solid #333333; }

/**********************************************************************************************************/
/* Asset Content Section  - 'More from space.com' section at footer of article pages (plus others to come */
    .asset_section {
      background-color:white;
      font-size: 14px;
      font-weight: bold;
      width: 100%;
    }
    
    .asset_section > p {
      border-bottom: thin solid black;
    }
    
    .asset_section ul.asset_section_links {
      display:inline;
      width:106%;
      list-style-type:none;
      height:75px;
      float:left;
      margin-top:0;
      margin-left:0;
      padding-left:0 !important;
      
    }
    
    .asset_section .asset_section_links li{
      display:inline;
      list-style-type:none;
      float:left;
      padding-right:31px;
      _padding-right:20px;
    }
    
   .asset_section .asset_section_links li p {
      color: #000000;
      font-size: 12px;
      margin-left: 0;
      padding-top: 0;
      position: relative;
      text-align: left;
    }
    
/**********************************************************************************************************/
/* People - Formatting of the the Biographies section   */

    .people_aboutauthor .biog {
      *margin-top:10px;
      
    }
    .people_aboutauthor {
      width:581px;
      *width:550px;
      display:table-cell;
      min-height:103px;
      background-color:#E5E5E5;
      border:1px solid black;
      *margin-bottom:20px;
    }
    
    .people_aboutauthor {
    }
  
    .people_aboutauthor #outer {
      overflow:hidden;
      *width:390px;
      height:49px;
    }
    
    .people_aboutauthor #inner {
      overflow:hidden;
      width:420px;
      *width:390px;
    }
    .people_aboutauthor .more {
      margin-right: 10px;
      .margin-right: 30px;
    }
    .people_aboutauthor img {
      border:1px solid black;
      margin:10px;
      float:left;
      clear:left;
    }
    
    .people_aboutauthor .biog img{
      border:none;
      margin:5px;
      float:left;
    }

    .people_aboutauthor .info {
      clear: right;
      float: left;
      width: 420px;
    }
    
    .people_aboutauthor .blog,
    .people_aboutauthor .social {
      /*margin-left:140px;*/
      float: left;
      clear: both;
    }
    .people_aboutauthor .social {
      width: 200px;
    }
    .people_aboutauthor .biog p {
      float: left;
      font-size: 10px;
      line-height: 1.2;
      width: 420px;
      *width:390px;
    }
    
    .people_aboutauthor .connect {
    font-weight:bold;
    }
    
    .people_aboutauthor .social img {
      float:none;
      margin:0;
      border:none;
    }
    
.sweepstakes { width:30px; display:none; text-align:center; color:#FFF; background-color:#000; width:300px; padding:25px 35px 15px; font-size:20px; background-color:#000; border:1px solid #d59e4c; display:none; -moz-box-shadow:0px 0px 20px 10px #5a1907; -webkit-box-shadow:0px 0px 20px 10px #5a1907; box-shadow:0px 0px 20px 10px #5a1907; -moz-border-radius:10px; -webkit-border-radius:10px; border-radius:10px; z-index:100000; }
.sweepstakes a,.sweepstakes a:visited{ color:#d59e4c; font-size:20px; }
.sweepstakes a:hover{ color:#d59e4c; }
.hint_details{ width:100%; float:left; }
.hint_logo{ width:100%; float:left; text-align:center; padding-bottom:20px; }
.hint_text{ width:100%; float:left; }
#sweepstakes img{ cursor:pointer; }
#sweepstakes{ width:auto; float:right; }
.sweepstakes .close { background-color:transparent; font-size:16px; position:absolute; right:5px; top:5px; cursor:pointer; height:35px; width:35px; }