.album_overall{ width:614px; float:left; border:1px solid #5B6857; border-bottom:none; }
.album_cont{ width:572px; _width:574px; float:left; margin:1px; _margin:0px; padding: 22px 20px 25px; font-size:11px; color:#FFFFFF; background-image:url('/images/site/article-titlebg.jpg'); background-repeat:repeat-x; background-color:#080806; }
.album_cont div{ width:100%; float:left; }
.album_disp{ font-size:14px; font-weight:bold; }
.album_disp a,.album_disp a:visited{ color:#FFFFFF; text-decoration:none; }
.album_title h1{ font-size:32px; margin:0px; padding:0px; line-height:32px; }
.album_time{ padding-top:3px; }
.article_info{
  width:100%;
  _width:93%;
  float:left;
  }
.article_info p{ line-height:20px; margin-top: 0px; margin-bottom: 24px; }
.album_cshare{ width:100%; float:left; color:#000000; font-size:14px; font-weight:bold; padding:15px 0px; border-top:1px solid #666666; border-bottom:1px solid #666666; margin-top:30px; }
#image_album_info .make_big { margin-top: 20px; }

/***************************** Album Comments *****************************/
.album_comments{ width:100%; float:left; }
.ac_title{ width:554px; float:left; padding:15px 10px 9px; background-image:url('/images/site/social/comments-titlebg.jpg'); background-repeat:repeat-x; }
.ac_commimg{ width:auto; float:left; }
.ac_commtext{ width:auto; float:right; color:#FFFFFF; font-size:14px; padding-top:5px; }
.ac_commtext span a{ font-size:15px; font-weight:bold; color:#FFFFFF; text-decoration:none; }
.ac_commtext span{ font-size:15px; }
.ac_info{ width:554px; float:left; padding:10px 10px 0px; background-image:url('/images/site/social/comments-bg.jpg'); background-repeat:repeat-x; background-color:#000000; }
.ac_postopt{ width:100%; float:left; color:#FFFFFF; }
.ac_postcomm{ width:auto; float:left; font-size:14px; font-weight:bold; }
.ac_postbu{ width:auto; float:right; font-size:14px; padding-bottom:10px; }
.ac_sortby{ width:auto; float:left; padding:3px 10px 0px 0px; font-weight:bold; }
.ac_sortbuttons{ width:298px; float:left; text-align:center; color:#FFFFFF; font-size:12px; font-weight:bold; }
.ac_sortbuttons div{ width:94px; float:left; padding:3px 0px; margin-right:5px; .margin-right:2px; background-color:#000000;  border:1px solid #000000; cursor:pointer; }
.ac_sortbuttons a{ color:#FFFFFF; text-decoration:none; }
.ac_sortbuttons div:hover{ background-color:#FFFFFF !important; color:#000000; }
.ac_sortlast{ margin-right:0px !important; }
.ac_sortselect{ background-color:#FFFFFF !important; color:#000000; }
.ac_comments{ width:100%; float:left; padding:4px 0px 10px; }
.ac_commbox{ width:534px; float:left; padding:10px; background-color:#FFFFFF; color:#000000; margin-bottom:15px; }
.ac_usercont{ width:100%; float:left; }
.ac_usercont a{ color:#033266; text-decoration:none; }
.ac_userimg{ width:60px; float:left; padding-right:10px; }
.ac_usertext{ width:464px; float:left; padding-bottom:10px; }
.ac_text{ width:100%; float:left; padding-top:10px; }
.ac_username{ width:100%; float:left; font-size:11px; }
.ac_username div{ width:auto; float:left; }
.ac_username a{ font-weight:bold; }
.ac_usertime{ float:right !important; }
.ac_recommend{ width:100%; float:left; background-color:#f0f0f0; text-align:right; padding:3px 0px; font-size:11px; }
.ac_viewmore{ width:100%; float:left; font-size:11px; padding-top:10px; }
.ac_viewmore img{ margin:0px 0px -1px; }
/**************************************************************************/

/**************************** Bottom Album ********************************/
.album_bottom{ width:574px; height:36px; margin-bottom:20px; float:left; padding:20px 20px 0px; border:1px solid #5B6857; border-top:none; background-image:url('/images/site/bottom-aboutbg.jpg'); background-repeat:repeat-x; }
.album_bottom div{ width:auto; float:right; }
.album_bleft{ float:left !important; }
/**************************************************************************/

/************************* Related Links *************************************/
.rls_cont{ width:614px; float:left; }
.rls_subcont{ width:614px; float:left; padding:0px 0px 20px; }
.rls_row{ width:192px; height:128px; float:left; }
.rls_row a{ cursor:pointer; text-decoration:none; }
.rls_rspace{ padding-right:19px; }
.rls_img{ width:100%; float:left; }
.rls_text{ float:left; width:172px; height:30px; font-size:17px; line-height:18px; padding:2px 10px 10px 10px; overflow:hidden; background:url('/images/site/trans-black.png'); position:relative; top:-42px; .top:-45px; color:#ffffff; _background-image:none; display:inline-block; filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/site/trans-black.png', sizingMethod='scale'); }
.rls_text span{ height:25px; overflow:hidden; font-size:12px; font-weight:normal; line-height:13px; padding-top:3px; display:block; }
