
/************************************************************
 Markups
************************************************************/

.aboutSpacer {
	margin-left: 95px;
	visible: false;
	}


body {
	margin: 0 0 10px 0px;
	text-align: center;
	padding: 0px;
	background: #ffffff;
	font-family: trebuchet ms, trebuchet-ms, trebuchet, verdana, arial, sans-serif;
	font-size: 11px;
	line-height: 13px;
	visible: false;
	}
	
/* Page Background Grey Bands */
	
#homeBodyBG {
	background-image: url("../images/home_bandBG.gif");
	background-repeat: repeat-x;
	background-position: 0px 123px;
	visible: false;
	}
	
#subBodyBG {
	background-image: url("../images/sub_bandBG.gif");
	background-repeat: repeat-x;
	background-position: 0px 120px;
	visible: false;
	}
	
/* Selectors */

h1 {
	margin: 0 0 0 0;
	font-weight: normal;
	font-family: meta normal, sans-serif;
	font-size: 18px;
	line-height: 18px;
	display: block;
	visible: false;
	}

h2 {
	margin: 0px 0px 0px 0px;
	font-family: Adobe Garamond, AGaramond, Garamond, Times New Roman, serif, Time;
	font-weight: regular;
	font-size: 14px;
	line-height: 14px;
	display: block;
	visible: false;
	}	
	
h2.subCatHeader {
	font-weight: bold;
	color: #9A382A;
	letter-spacing: -.3px;
	display: block;
	visible: false;
	}
	
	
.subCatHeader {
	margin: 0px 0px 0px 0px;
	font-family: Adobe Garamond, AGaramond, Garamond, Times New Roman, serif;
	font-weight: bold;
	color: #9A382A;
	letter-spacing: -.3px;
	font-size: 12px;
	line-height: 12px;
        padding-bottom: 6px;
        text-align: top;
	display: block;
	visible: false;
	}
	
h3 {
	margin: 0px 0px 0px 0px;
	font-weight: normal;
	font-family: Garamond, serif, Time;
	font-size: 36px;
	line-height: 36px;
	letter-spacing: -.25px;
	display: block;
	visible: false;
	}	
	
div .headerSpace {
	height: auto; 
	margin-bottom: 10px;
        text-align: top;
	visible: false;
	}
	
.pageHeader {
	margin-top: -2px;
	/*margin-bottom: -20px;*/
	font-weight: normal;
	font-family: Meta Book Roman, trebuchet ms, sans-serif;
	/*font-family: trebuchet, trebuchet ms, sans-serif;*/
	font-size: 22px;
	/*font-size: 18px;*/
	line-height: 26px;
	/*line-height: 18px;*/
	letter-spacing: -.25px;
	display: block;
	height: auto;
		padding-bottom: 18px;
        text-align: top;
	color: #9A382A;
	/*color: #5C130A;*/	
	visible: false;
	}		
	
h4 {
	font-weight: normal;
	font-family: trebuchet, trebuchet ms, sans-serif;
	color: #5C130A;
	font-size: 16px;
	letter-spacing: -.9px;
        display: block;
	visible: false;
	}

h4.subHead {
	margin: 0px 0px 14px 0px;
	line-height: 16px;
	visible: false;
	}
	
h4.newSubHead {
	color: #5C130A;
	padding: 0px 0px 0px 0px;
	visible: false;
	}
	
h4.bSubHead {
	color: #5C130A;
	font-weight: bold;
	visible: false;
	}
	
h5 {
	margin: 0px 0px 0px 0px;
	font-weight: normal;
	color: #666666;
	font-family: trebuchet, trebuchet ms, sans-serif;
	font-size: 9px;
	line-height: 13px;
	display: block;
	visible: false;
	}
	
h5.topicHeader {
	margin: 0px 0px 0px 0px;
	font-weight: normal;
	color: #666666;
	font-family: trebuchet, trebuchet ms, sans-serif;
	font-size: 9px;
	display: block;
	visible: false;
	}
	
sub  {
	visible: false;
        line-height: 0;
	vertical-align: -0.6ex;
	font-size: 70%;
	}

sup  {
	visible: false;
	line-height: 0;
	vertical-align: 1.7ex;
	font-size: 70%;
	}

/* Footer Markup */

#footer {
	margin-top: 34px;
	visible: false;
	}
	
#footer .hFooterStyle {
	padding-left: 5px;
	float: left;
	visible: false;
	}
	
#footer .sFooterStyle {
	padding-left: 5px;
	visible: false;
	}
	
#footer .contactStyle {
	text-align: right;
	visible: false;
	}

/* Center Column Markup */

#fivePixelPadding {
	width: 350px;
	padding: 0px 5px 0px 5px;
	visible: false;
	}

#center {
	width: 370px;
	margin: 0px 0px 0px 5px;
	padding: 0px 5px 0px 0px;
	visible: false;
	}

#center p {
	visible: false;
	line-height: 1.5em;
	}
	
#center .text {
	padding-top: 10px;
	display: block;
	visible: false;
        line-height: 1.5em;
 	}
	
#center .largeText  {
	padding-top: 10px;
	display: block;
	visible: false;
        line-height: 1.5em;
 	}

#center h5 {
	font-size: 10px;
	visible: false;
	}

#center .item {
	padding: 14px 0px 0px 0px;
	visible: false;
	}
	
#center .item .text {
	padding: 0;
	display: inline;
	visible: false;
 	}
	
#center .item .title {
	font-size: 13px;
	line-height: 15px;
	color: #C20028;
	display: block;
	visible: false;
	}	
	
#center .newsItem {
	margin: 14px 0px 0px 0px;
	visible: false;
	}
	
#center .newsItem .text {
	padding-top: 4px;
 	display: inline;
	visible: false;
	}
	
#center .newsItem .newsTitle {
	font-size: 13px;
	line-height: 15px;
	color: #C20028;
	display: block;
	visible: false;
	}
	
#center .alpha {
	padding: 0px 0px 12px 0px;
	font-size: 16px;
	line-height: 15px;
	color: #dddddd;
	visible: false;
	}
	
#center .nextAlpha {
	padding: 14px 0px 0px 5px;
	font-size: 16px;
	line-height: 15px;
	color: #999999;
	float: right;
	visible: false;
	}
	
#center .introTextMore {
	margin: 14px 0px 0px 0px;
	display: block;
	visible: false;
	}
	
#center .introText p {
	padding: 12px 0px 0px 0px;
	display: block;
	visible: false;
	}

#center .IntroText p {
	padding: 12px 0px 0px 0px;
        margin-bottom: -8px;
	display: block;
	visible: false;
	}

#center table {
	margin: 0px 1px 0px 1px;
        color: #666666;
	visible: false;
	border-collapse: collapse;
	}
	
#center td {
	margin: 0px 0px 0px 0px;
        color: #666666;
	vertical-align: top;
	visible: false;
        border-collapse: collapse;
	}

#center .tableHeader{

	margin: 0px 0px 0px 0px;
	padding: 5px 5px 5px 5px;
	font-family: trebuchet, trebuchet ms, sans-serif;
	color: #F0F0F0;
	font-size: 13px;
	line-height: 15px;
	caption: Table Heading
}
/* One Column Markup */	

#centerOneCol {
	margin: 0px 0px 0px 5px;
	width: 555px;
	visible: false;
	}

#centerOneCol p {
	visible: false;
	line-height: 1.5em;
	}
	
#centerOneCol .text {
	visible: false;
        line-height: 1.5em;
 	}
	
#centerOneCol .largeText  {
	visible: false;
        line-height: 1.5em;
 	}
	
#centerOneCol h5 {
	font-size: 10px;
	visible: false;
	}

#centerOneCol .moreInfo {
	padding: 6px 0px 0px 0px;
	visible: false;
	clear: all;
	}
	
#centerOneCol .moreInfo p {
	padding: 0px 0px 0px 0px;
	display: block;
	visible: false;
	}
	
#centerOneCol .introTextMore {
	padding: 14px 0px 0px 0px;
	display: block;
	visible: false;
	}
	
#centerOneCol .introText p {
	padding: 12px 0px 0px 0px;
	display: block;
	visible: false;
	}

#centerOneCol .IntroText p {
	padding: 12px 0px 0px 0px;
        margin-bottom: -8px;
	display: block;
	visible: false;
	}
	

#centerOneCol .tableHeader{
	margin: 0px 0px 0px 0px;
	padding: 5px 5px 5px 5px;
	font-family: trebuchet, trebuchet ms, sans-serif;
	color: #F0F0F0;
	font-size: 13px;
	line-height: 15px;
	visible: false;
	}
	
#centerOneCol table {
	margin: 0px 1px 0px 1px;
        color: #666666;
	visible: false;
        border-collapse: collapse;
	}
	
#centerOneCol td {
	margin: 0px 0px 0px 0px;
        color: #666666;
	vertical-align: top;
	visible: false;
        border-collapse: collapse;
	}


/* Right Column Markup */

#right {
	width: 180;
	padding: 0px 0px 0px 5px;
	visible: false;
	}
	
#right h4 {
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 9px 0px;
	color: #5C130A;
        visible: false;
	}
	
#right .related {
	padding: 0px 0px 0px 0px;
	display: block;
	visible: false;
	}
	
#right div .text {
	margin: 0px 0px 0px 11px;
	visible: false;
	}	

#right .events {
	padding: 0px 0px 0px 0px;
	display: block;
	visible: false;
	}
	
#right events a.bulletLink {
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 10px;
	line-height: 11px;
	visible: false;
	}
	
#right .events h5 {
	padding: 0px 0px 0px 16px;
	visible: false;
	}
	
#right .news h5 {
        padding: 0px 0px 0px 0px;
	visible: false;
	}

#right .news a {
	padding-bottom: 6px;
	display: block;
	visible: false;
	}
	
/* SP Article Markup */

#centerOneCol .sPArticle {
	padding: 0px 0px 0px 0px;
	margin: 0px 0px 0px 0px;
	width: 555px;
	visible: false;
	}

#center .sPArticle {
	padding: 0px 0px 0px 0px;
	margin: 0px 0px 0px 0px;
	width: 350px;
	visible: false;
	}
	
.sPArticle p.text {
	margin: 12px 0px 0px 0px;
	display: block;
	visible: false;
	line-height; 1.5em;
	}
	
.sPArticle .section {
	margin: 12px 0px 0px 0px;
        display: block;
	visible: false;
	}
	
.sPArticle .subHeading {
	margin: 0px 0px 0px 0px;
	font-weight: normal;
	color: #5c130a;
	font-family: trebuchet, trebuchet ms, sans-serif;
	font-size: 16px;
	line-height: -25px;
	display: block;
	visible: false;
	}
	
.sPArticle p.largeText {
	margin: 12px 0px 0px 0px;
        display: block;
	visible: false;
	line-heignt: 1.5em;
  	}
	
.sPImage {
	border: 1px solid #666666;
	margin: 0px 10px 2px 0px;
	display: block;
	visible: false;
	}
	
.sPArticle .pageSubTitle {
	margin: 0px 0px 0px 0px;
	visible: false;
	}

.sPArticle table {
	margin: 0px 0px 0px 0px;
        color: #666666;
	visible: false;
        border-collapse: collapse;
	}
	
.sPArticle td {
	margin: 0px 0px 0px 0px;
        color: #666666;
	vertical-align: top;
	visible: false;
        border-collapse: collapse;
	}

.sPArticle .tableHeader{

	margin: 0px 0px 0px 0px;
	padding: 5px 5px 5px 5px;
	font-family: trebuchet, trebuchet ms, sans-serif;
	color: #F0F0F0;
	font-size: 13px;
	line-height: 15px;
	visible: false;
	}	

/* Features Markup */

#features h4 {
	color: #B80023;
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 5px 0px;
	visible: false;
	}
	
#features .elementTitle {
	margin: 0px 0px 0px 0px;
	padding: 7px 0px 0px 0px;
	visible: false;
	}
	
#features .outerBoxTop {
	width: 370px;
	height: auto;
	background-position: top;
	background-repeat: repeat-x;
	margin: 34px 0px 0px 0px;
	padding: 5px 0px 7px 0px;
	background-image: url("../images/greyBkgnd.gif");
	visible: false;
	}
	
#features .outerBoxTop .boxLeft{
	display: inline; 
	float:left; 
	width: 173px;
	padding: 0px 6px 0px 5px;
	visible: false;
	height: auto;
	}

#features .outerBoxTop .boxRight{
	width: 173px;
	padding: 0px 5px 0px 6px;
	float:right;
	clear: all;
	visible: false;
	height: auto;
	}
	
#features .imageBox {
	width: 370px;
	padding: 0px 0px 0px 0px;
	visible: false;
	}
	
#features .imageBox .imageLeft {
	display: inline; 
	float:left; 
	padding-right: 2px;
	clear: all;
	visible: false;
	}
	
#features .imageBox .imageRight {
	float: right;
	display: inline;
	clear: all;
	visible: false;
	}

#features .outerBoxBottom {
	width: 370px;
	margin-bottom: 0px;
	visible: false;
	}
	
#features .outerBoxBottom .boxLeft{
	display: inline; 
	float:left; 
	width: 173px;
	padding: 0px 6px 0px 5px;
	visible: false;
	}

#features .outerBoxBottom .boxRight{
	width: 173px;
	padding: 0px 5px 0px 6px;
	float:right;
	clear: all;
	visible: false;
	}

/* Para Wrap */

#paraWrap {
	margin-top: 34px;
	visible: false;
	}

#paraWrap .section {
	margin-top: 14px;
	width: 360px;
	visible: false;
	}

.section table {
	margin: 0px 0px 0px 0px;
        color: #666666;
	visible: false;
        border-collapse: collapse;
	}
	
.section td {
	margin: 0px 0px 0px 0px;
        color: #666666;
	vertical-align: top;
	visible: false;
        border-collapse: collapse;
	}

.section  .tableHeader {
	margin: 0px 0px 0px 0px;
	padding: 5px 5px 5px 5px;
	font-family: trebuchet, trebuchet ms, sans-serif;
	color: #F0F0F0;
	font-size: 13px;
	line-height: 15px;
	visible: false;
	}	
	
#centerOneCol #paraWrap .section {
	margin-top: 14px;
	width: 550px;
	visible: false;
	}
	
#center #paraWrap .section {
	margin-top: 14px;
	width: 360px;
	visible: false;
	}

#paraWrap .paraImage {
 	border: 1px solid #666666; 
	margin: 0px 10px 0px 0px;
	float:left;
	visible: false;
	}

#paraWrap p.text {
	margin: 12px 0px 0px 0px;
	display: block;
	visible: false;
	line-height: 1.5em;
	}
	
#paraWrap p.largeText {
	margin: 12px 0px 0px 0px;
	display: block;
	visible: false;
	line-height: 1.5em;
	}
	
#paraWrap .subHeading {
	margin: 0px 0px 0px 0px;
	font-weight: normal;
	color: #5c130a;
	font-family: trebuchet, trebuchet ms, sans-serif;
	font-size: 16px;
	line-height: -25px;
	display: block;
	visible: false;
	}
	
#paraWrap .pageSubTitle {
	margin-top: 12px 0px 0px 0px;
	visible: false;
	}

.moreInfo {
	padding: 12px 0px 0px 0px;
	visible: false;
	}
	
.moreInfo p {
	padding: 0px 0px 0px 0px;
	display: block;
	visible: false;
	}
	
.introTextMore {
	padding: 14px 0px 0px 0px;
	display: block;
	visible: false;
	}
	
.introText p {
	padding: 12px 0px 0px 0px;
	display: block;
	visible: false;
	}	
	
/* Products List */

#productList {
	width: 368px;
	margin: 34px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	border: 1px solid #E6E6E6;
	visible: false;
	}
	
#productList .titleBox {
	margin: 0px 0px 0px 0px;
	padding: 5px 5px 5px 5px;
	background-color: #F0F0F0;
	font-family: trebuchet, trebuchet ms, sans-serif;
	color: #5C130A;
	font-size: 16px;
	line-height: 15px;
	visible: false;
	}

#productList .headingBox {
	margin: 0px 0px 0px 0px;
	padding: 5px 5px 5px 5px;
	background-color: #9B9B9B;
	font-family: trebuchet, trebuchet ms, sans-serif;
	color: #F0F0F0;
	font-size: 13px;
	line-height: 15px;
	visible: false;
	}
	
#productList .itemBox {
	margin: 0px 0px 0px 0px;
	padding: 5px 5px 5px 5px;
	font-weight: normal;
	font-family: trebuchet, trebuchet ms, sans-serif;
	color: #666666;
	font-size: 11px;
	line-height: 13px;
	visible: false;
	}
	
#productList .bListCol {
	padding: 5px 5px 0px 0px;
	visible: false;
	}
	
#productList .bListCol p {
	color: #666666;
	}
	
#parentMainContentOneColumnCell #productList {
	width: 558px;
	margin: 34px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	border: 1px solid #E6E6E6;
	visible: false;
	}
	
#parentMainContentOneColumnCell #productList .headingBox {
	margin: 0px 0px 0px 0px;
	padding: 5px 5px 5px 5px;
	background-color: #9B9B9B;
	font-family: trebuchet, trebuchet ms, sans-serif;
	color: #FFFFFF;
	font-size: 13px;
	line-height: 15px;
	visible: false;
	}
	
#parentMainContentOneColumnCell #productList .itemBox {
	margin: 0px 0px 0px 0px;
	padding: 5px 5px 5px 5px;
	font-weight: normal;
	font-family: trebuchet, trebuchet ms, sans-serif;
	color: #666666;
	font-size: 11px;
	line-height: 13px;
	visible: false;
	}
	
#parentMainContentOneColumnCell #productList .bListCol {
	padding: 5px 5px 5px 5px;
	visible: false;
	}
	
#productList .greyLine {
	background-color: #E6E6E6;
	visible: false;
	}
	
#productList .spacerRow {
	background-color: #F0F0F0;
	visible: false;
	}
	
#productList .titleRow {
	background-color: #F0F0F0;
	visible: false;
	}
	
#productList .headingRow {
	background-color: #9B9B9B;
	visible: false;
	}
	
#productList .itemFooter {
	background-color: #E6E6E6;
	height: 5px;
	visible: false;
	}

#productList p {
	display: block;
	visible: false;
	}
	
/* Item Callout */

#callout {
	margin-top: 20px;
	visible: false;
	}

#callout .outerBox {
	width: 360px;
	margin: 14px 0px 0px 5px;
	visible: false;
	}
	
#callout .outerBox .text{
	visible: false;
        line-height: 1.5em;
	}

#callout a.elementTitle {
/* Hide from IE-Mac \*/
	line-height: 15px;
        /* End hide */
	padding-bottom: 4px;
	}

#callout .aIndustry {
	margin-top: 5px;
	}	

#parentMainContentOneColumnCell #callout .outerBox {
	width: 558px;
	margin-top: 14px;
	visible: false;
	}

#callout .outerBox .boxLeft{
	display: inline; 
	float: left; 
	width: 136px;
	visible: false;
	}

#callout .outerBox .boxRight{
	width: 214px;
	float:right;
	display: inline;
	/*clear: all;*/
	visible: false;
	}

#callout table {
	margin: 0px 0px 0px 0px;
        color: #666666;
	visible: false;
        border-collapse: collapse;
	}
	
#callout td {
	margin: 0px 0px 0px 0px;
        color: #666666;
	vertical-align: top;
	visible: false;
        border-collapse: collapse;
	}	
	
#callout .elementTitle {
	line-height: 10px;
	visible: false;
	}
	
#parentMainContentOneColumnCell #callout .outerBox .boxRight{
	width: 413px;
	padding: 0px 0px 0px 0px;
	float:right;
	clear: all;
	visible: false;
	}
	
	
/* Products Services Index */

#indexBox {
	width: 560px;
	height: 40px;
	background-color: #EEEEEE;
	padding: 5px 0px 0px 5px;
	margin-bottom: 14px;
	display: block;
	visible: false;
	}

#indexBox .indexHeader {
	font-style: normal;
	font-weight: normal;
	font-family: trebuchet, trebuchet ms, sans-serif;
	color: #663333;
	font-size: 13px;
	line-height: 17px;
	visible: false;
	}	
	
#indexBox .indexList {
	padding: 0px 0px 0px 0px;
	margin: 0px 0px 0px 0px;
	display: inline;
	visible: false;
	}
	
#indexBox .indexList li {
	padding: 0px 0px 0px 0px;
	margin: 0px 0px 0px 0px;
	font-family: trebuchet, trebuchet ms, sans-serif;
	font-style: normal;
	font-weight: normal;
	color: #666666;
	font-size: 11px;
	line-height: 15px;
	text-decoration: none;
	background-image: none;
	display: inline;
	visible: false;
	}
	
#indexBox .indexList a {
	font-size: 11px;
	line-height: 15px;
	visible: false;
	}
	
#indexBox .indexList a:hover {
	text-decoration: underline;
	visible: false;
	}
	
/* Product Services Links - Can be generally used  */

.linksBox  {
	width: 370px;
	margin-top: 14px;
	visible: false;
	}

.linksBox .elementTitle {
	padding: 0px 10px 0px 0px;
	visible: false;
	}
	
.linksBox .linksLeftBox {
        padding: 0px 5px 0px 0px;
	display: block; 
	width: 180px; 
	float: left;
	visible: false;
}

.linksBox .linksLeftSingleBox {
	display: block; 
	width: 365px; 
	float: left;
	visible: false;
}

.linksBox .linksRightBox {
        padding: 0px 0px 0px 5px;
	width: 180px;
	float: right;
	visible: false;
}

.contentLinks  {
	width: 370px;
	margin-top: 5px;
	visible: false;
	}

.contentLinks .linksLeftBox {
        padding: 0px 5px 0px 0px;
	display: block; 
	width: 180px; 
	float: left;
	visible: false;
	}

.contentLinks .linksLeftSingleBox {
	display: block; 
	width: 365px; 
	float: left;
	visible: false;
	}

.contentLinks .linksRightBox {
        padding: 0px 0px 0px 5px;
	width: 180px;
	visible: false;
	float: left; 
	}

/* Consumer Box */

.consProdBox {
	width: 355px;
        padding: 5px 5px 5px 5px;
	border: 1px solid #E5E5E5;
	margin-bottom: 20px;
	visible: false;
	}
	
.consProdBox .elementTitle {
	color: #B80023;
	margin: 0;
	padding: 0;
	visible: false;
	}
	
.consProdBox .moreChev {
	display: block;
	visible: false;
	}

/* Country Selector */

#countrySelector {
	border: 1px solid #E6E6E6;
	width: 375px;
	margin: 14px 0px 0px 0px; 
	padding: 5px 0px 5px 0px;
	visible: false;
	}
	
#countrySelector .elementTitle {
	margin: 0px 0px 7px 0px; 
	padding: 0px 0px 0 0px;
	visible: false;
	}

#countrySelector .selectBox {	
	padding: 0px 5px 0px 5px;
	visible: false;
	}

#countrySelector .dropDown {	
	margin: 0px 7px 0px 0px;
	width: 85%;
	visible: false;
	}
	
#countrySelector #checkBoxArea {
	margin-top: 14px;
	visible: false;
	}

#countrySelector #checkBoxArea .outerBox {
	width: 100%;
	margin-top: 14px;
	background-position: top;
	background-repeat: repeat-x;
	background-image: url("../images/greyBkgnd.gif");
	visible: false;
	/*border: 1px solid red;*/
	}
	
#countrySelector #checkBoxArea .outerBox .boxLeft {
	display: inline; 
	float:left; 
	width: 15px;
	padding: 4px 10px 0px 0px;
	visible: false;
	}

#countrySelector #checkBoxArea .outerBox .boxRight {
	width: 345px;
	padding: 5px 0px 5px 0px;
	float:right;
	clear: all;
	visible: false;
	}
	
#countrySelector #checkBoxArea .caption {
	padding: 0px 0px 4px 0px;
	visible: false;
	}

/* More Link classes - prevents text from breaking under bullet */
	
#textLinkWrap {
	/*border: 1px solid red;*/
	width: 173px;
	visible: false;
	}
	
#textLinkWrap .textLinkLeft {
	display: inline; 
	float:left; 
	width: 12px;
	padding: 0px 0px 0px 0px;
	visible: false;
	}

#textLinkWrap .textLinkRight {
	width: 161px;
	float:right;
	clear: all;
	visible: false;
	}
	
#textLinkWrap .textLink {
	visible: false;
	text-align: top;
	visible: false;
	}

/* Promo Box */
	
#promoWrap {
	margin-top: 34px;
	visible: false;
	}

#promoWrap .pageTitle {
	padding-left: 5px;
	visible: false;
	}
	
#promoWrap .text {
	display: block;
	visible: false;
	}
	
.promoImage {
	display: inline; 
	float: left;
	padding-left: 5px; 
	clear: both;
	visible: false;
	}

/* promoText in deprecated. Use "promoWrap .text" in p tag. */	
.promoText {
 	overflow: hidden;
        margin-top: 12px;
	height: 38px;
	visible: false;
	}
	
/* Site Map */

#siteMap {
	margin-top: 14px;
	visible: false;
	}

#siteMap .sectionHeader {
	margin-top: 12px;
	visible: false;
	}
	
#siteMap .L1 {
	margin: 0px 0px 0px 20px;
	visible: false;
	}
	
#siteMap .L2 {
	margin: 0px 0px 0px 40px;
	visible: false;
	}
	
#siteMap .L3 {
	margin: 0px 0px 0px 60px;
	visible: false;
	}

/* default links */

a {
	color: #B80026;
	text-decoration: none;
	visible: false;
	}
	
a:hover {
	text-decoration: underline;
	visible: false;
	}

a.elementTitle {
	color: #B80026;
	visible: false;
	}	
	
a.footerLink {
	margin: 0px 0px 0px 0px;
	font-weight: normal;
	font-family: trebuchet, trebuchet ms, sans-serif;
	color: #B80026;
	font-size: 11px;
	line-height: 15px;
	visible: false;
	}
	
a.footerLink:hover {
	padding: 0px 0px 0px 0px;
	text-decoration: underline;
	visible: false;
	}
	
a.iLbulletLink {
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 10px;
	font-family: trebuchet, trebuchet ms, sans-serif;
	font-weight: normal;
	color: #B80026;
	font-size: 11px;
	line-height: 15px;
	background-image: url("../images/globalSquareBullet.gif");
	background-repeat: no-repeat;
	background-attachment: top;
	display: inline;
	visible: false;
	}
	
a.iLbulletLink:hover {
	padding: 0px 0px 0px 10px;
	text-decoration: underline;
	visible: false;
	}
	
a.bulletLink2{
	margin: 0px 0px 0px 5px;
	padding: 0px 0px 0px 10px;
	font-family: trebuchet, trebuchet ms, sans-serif;
	font-weight: normal;
	color: #B80026;
	font-size: 13px;
	line-height: 15px;
	background-image: url("../images/globalPlusBullet.gif");
	background-repeat: no-repeat;
	background-attachment: left top;
	display: block;
	visible: false;
	}
	
a.bulletLink2:hover {
	padding: 0px 0px 0px 10px;
	text-decoration: underline;
	visible: false;
	}
	
a.bulletLink {
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 10px;
	font-family: trebuchet, trebuchet ms, sans-serif;
	font-weight: normal;
	color: #B80026;
	font-size: 11px;
	line-height: 15px;
	background-image: url("../images/globalSquareBullet.gif");
	background-repeat: no-repeat;
	background-attachment: left top;
	display: block;
	visible: false;
	}

a.bulletLink:hover {
	padding: 0px 0px 0px 10px;
	text-decoration: underline;
	visible: false;
	}

a.noBulletLink {
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	font-family: trebuchet, trebuchet ms, sans-serif;
	font-weight: normal;
	color: #B80026;
	font-size: 11px;
	line-height: 15px;
	display: block;
	visible: false;
	}

a.noBulletLink:hover {
	padding: 0px 0px 0px 0px;
	text-decoration: underline;
	visible: false;
	}
	
a.bulletLinkLarge {
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 7px;
	font-family: trebuchet, trebuchet ms, sans-serif;
	font-weight: normal;
	color: #B80026;
	font-size: 12px;
	line-height: 17px;
	background-image: url("../images/globalSquareBullet.gif");
	background-repeat: no-repeat;
	background-attachment: left top;
	display: block;
	visible: false;
	}

a.bulletLinkLarge:hover {
	padding: 0px 0px 0px 7px;
	text-decoration: underline;
	visible: false;
	}
	
.bulletList {
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 10px;
	background-image: url("../images/globalSquareBullet.gif");
	background-repeat: no-repeat;
	background-attachment: left top;
	display: block;
	visible: false;
	}

div {
	position: relative;
	overflow: hidden;
	margin: 0px 0px 0px 0px;
	padding:0px 0px 0px 0px;
	border: 0px;
	visible: false;
	}
	
img {
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	border: 0px;
	visible: false;
	}

p {
	border: 0px;
	margin:  0px 0px 0px 0px;
	padding:  0px 0px 0px 0px;
	display: inline;
	visible: false;
	
	}
	
.alLeft {
	text-align: left;
	display: block;
	visible: false;
	}
	
.alRight {
	text-align: right;
	display: block;
	visible: false;
	}
	
.alCenter {
	text-align: center;
	display: block;
	visible: false;
	}
	
table {
	margin: 0px 0px 0px 0px;
        color: #666666;
	visible: false;
	}
	
td {
	margin: 0px 0px 0px 0px;
        color: #666666;
	vertical-align: top;
	visible: false;
	line-height: 1.5em;
	}
	
strong {
	font-weight: bold;
	}
	
/* hide from ie on mac

#flashcontent {
	height: 100%;
}

end hide */

/* misc css rules */

.navSearchBoxText {
	font-family:  MyriadPro Regular, sans-serif;;
	color: #666666;
	font-weight: normal;
	font-size: 12px;
	line-height: 17px;
	padding-bottom: 4px;
	visible: false;
	}

.inlineImg {
	display: inline;
	vertical-align: top;
	visible: false;
	}

h2 {
	margin: 0px 0px 0px 0px;
	padding:0px 0px 0px 0px;
	border: 0px;
	font-weight: normal;
	visible: false;
	}

.inlineBtn{
	vertical-align: middle;
	margin-bottom: 5px;
	padding-right: 8px;
	display:block; 
	clear:both; 
	float:left;
	visible: false;
	}
	
.inlineBtn2{
	vertical-align: middle;
	margin-bottom: 0px;
	padding-right: 8px;
	display:block; 
	clear:both; 
	float:left;
	visible: false;
	}
	
.inlineBlt{
	padding-right: 0px;
	padding-top: 6px;
	display:block; 
	clear:both; 
	float:left;
	visible: false;
	}

.greyFadeBG {
	/* border: 1px solid red; */
	width: 100%;
	height: auto;
	background-position: top;
	background-repeat: repeat-x;
	padding: 0px 0px 0px 0px;
	margin: 34px 0px 0px 0px;
	background-image: url("../images/greyBkgnd.gif");
	visible: false;
	}
	
.greyFadeBGSmall {
	width: 360px;
	height: auto;
	background-position: top;
	background-repeat: repeat-x;
	padding: 5px 10px 0px 0px;
	margin: 14px 0px 0px 0px;
	background-image: url("../images/greyBkgnd.gif");
	visible: false;
	}
	
.heroBorder {
	 border: 0px solid #666666;
	 width: 473px;
	 height: 210px;
	 visible: false;
	 }

.noFadeBG {
	width: 100%;
	background-position: top;
	background-repeat: repeat-x;
	padding: 5px 5px 0px 0px;
	margin: 34px 0px 0px 0px;
	visible: false;
	}
	
.onePxGreyBorder{
	border: 1px solid #666666;
	margin: 5px 5px 0px 5px;
	float: left;
	visible: false;
	}
	
.onePxGreyBorderSmall {
 	border: 1px solid #666666; 
	margin: 0px 10px 0px 0px;
	float:left;
	visible: false;
	}

.psLinkSpacer {
	margin-top: 30px;
	}
	
.psLinkGreyBg {
	margin: 3px 0px 0px 0px;
	padding: 3px 0px 0px 5px;
	width: 216px;
	height: 22px;
	background-image: url("../images/psLinkGreyBG.gif");
	background-repeat: no-repeat;
	background-attachment: middle;
	visible: false;
	}
	
.redArrowBtn{
	vertical-align: middle;
	padding-right: 8px;
	margin-left: 0px;
	margin-top: 30px;
	display:block; 
	clear:both; 
	float:left;
	visible: false;
	}
	
.noFlash {
	color: #666666;
}

	
/************************************************************
 Typography
************************************************************/


#fsize2
{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
}
#fsize3
{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
}

span.raise {
	font-family: arial, Helvetica, sans-serif; 
	vertical-align: super; 
	font-size: 7px; 
	font-weight: 10; 
	font-color: #000000;
	visible: false;
	}


#dupontLogoDiv #dupontLogoImg {
	padding: 21px 0px 20px 11px;
	float: left;
	visible: false;
	}

.greybold {
	font-weight: bold;
	color:#333333;
	font-family: trebuchet, trebuchet ms, sans-serif;
	font-size: 10px;
	line-height: 11px;
        padding-bottom: 5px;
	display: block;
	visible: false;
	}

/* Leftnav Related DIVs, Ps, Etc ,,. */

.leftNavSubHeadDiv {
	width:175px;
	height:15px;
	background-image: url("../images/globalDashes.gif");
	background-position: bottom;
	background-repeat: repeat-x;
	color: #666666;
	font-size: 9px;
	padding: 44px 0px 0px 0px;
	visible: false;
	}

.leftNavLinkElement {
	padding: 0px 0px 0px 0px;
	margin: 0px 0px 0px 0px;
	width:175px;
	min-height: 23px;
	background-image: url("../images/globalDashes.gif");
	background-position: bottom;
	background-repeat: repeat-x;
	font-size: 11px;
	line-height: 12px;
	word-spacing: .01em;
	letter-spacing: .001em;
	visible: false;
	}
	
.leftNavHighlightElement {
	padding: 0px 0px 0px 0px;
	margin: 0px 0px 0px 0px;
	width:175px;
	min-height: 23px;
	font-size: 11px;
	line-height: 12px;
	word-spacing: .01em;
	letter-spacing: .001em;
	visible: false;
	}

.leftNavLinkElement p {
	display: block;
	padding: 4px 4px 5px 22px;
	margin: 0px 0px 1px 0px;
	color: #BC0025;
	min-height: 12px;
	background-color: #EEDFA5;
	background-image: url("../images/leftNavIcn_aro.gif");
	background-repeat: repeat-y;
	text-decoration:none;
	visible: false;
	}
	
.leftNavLinkElement .leftNavSecItem {
	padding: 4px 3px 5px 22px;
	height: 12px;
	background-image: url("../images/leftNavHighlight.gif");
	background-repeat: repeat-y;
	visible: false;
	}
	

.leftNavLinkElement a.leftNavMenuHeaderInSubMezz, .leftNavHighlightElement a.leftNavMenuHeaderInSubMezz {
	background-color: #ffffff;
	background-image: url("../images/leftNavIcn_blt_inMezz.gif");
	background-repeat: repeat-y;
	visible: false;
	}

	/* Hide from IE-Mac \*/
.leftNavLinkElement a.leftNavPElement{
        background-color: #EEDFA5;
	background-image: url("../images/leftNavIcn_aro.gif");
	background-repeat: repeat-y;
        visible: false;
        }
	 /* End hide */
	
.leftNavLinkElement a, .leftNavHighlightElement a {
	display: block;
	padding: 3px 4px 4px 22px;
	margin: 0px 0px 1px 0px;
	color: #BC0025;
	text-decoration:none;
	visible: false;
	}	
	
.leftNavLinkElement a:hover, .leftNavHighlightElement a:hover {
	text-decoration: underline;
	visible: false;
	}
	
.leftNavLinkElement .leftNavItemInset {
	padding: 3px 4px 4px 35px;
	visible: false;
	}

	/* Hide from IE-Mac \*/
.leftNavLinkElement a.leftNavPElementItemInset{
        padding: 3px 4px 4px 35px;
        background-color: #EEDFA5;
	background-image: url("../images/leftNavIcn_aro.gif");
	background-repeat: repeat-y;
        visible: false;
        }
	 /* End hide */
.leftNavLinkElement .leftNavItemInsetTwo {
	padding: 3px 4px 4px 45px;
	visible: false;
	}

.leftNavBltItem {
	background-image: url("../images/leftNavIcn_blt.gif");
	background-repeat: repeat-y;
	visible: false;
	}

.leftNavBltItem:hover, .leftNavLinkElement a.leftNavMenuHeaderInSubMezz:hover, .leftNavHighlightElement a.leftNavMenuHeaderInSubMezz:hover {
	background-image: url("../images/leftNavIcn_blt_o.gif");
	visible: false;
	}

.leftNavContItem {
	background-image: url("../images/leftNavIcn_cont.gif");
	background-repeat: repeat-y;
	visible: false;
	}

.leftNavContItem:hover {
	background-image: url("../images/leftNavIcn_cont.gif");
	visible: false;
	}

.leftNavEmailItem {
	background-image: url("../images/leftNavIcn_email.gif");
	background-repeat: repeat-y;
	visible: false;
	}

.leftNavPrntItem {
	background-image: url("../images/leftNavIcn_prnt.gif");
	background-repeat: repeat-y;
	visible: false;
	}
.leftNavPrntItem:hover {
	background-image: url("../images/leftNavIcn_prnt.gif");
	visible: false;
	}

.leftNavProdServItem {
	background-image: url("../images/leftNavIcn_prodServ.gif");
	background-repeat: repeat-y;
	visible: false;
	}
.leftNavProdServItem:hover {
	background-image: url("../images/leftNavIcn_prodServ.gif");
	visible: false;
	}

.leftNavTmItem {
	background-image: url("../images/leftNavIcn_tm.gif");
	background-repeat: repeat-y;
	visible: false;
	}
.leftNavTmItem:hover {
	background-image: url("../images/leftNavIcn_tm.gif");
	visible: false;
	}

.leftNavSelItem {
	background-image: url("../images/leftNavIcn_glob.gif");
	background-repeat: repeat-y;
	visible: false;
	}
.leftNavSelItem:hover {
	background-image: url("../images/leftNavIcn_glob.gif");
	visible: false;
	}


/* breatcrumbs related stuff */

#crumbList {
	display: inline;
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	color: #B30021;
	background-image: none;
	visible: false;
	}

.childCrumb, .childCrumb a {
	display: inline;
	font-family: trebuchet, trebuchet ms, sans-serif;
	color: #B80026;
	font-size: 11px;
	line-height: 13px;
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	text-decoration: none;
	background-image: none;
	visible: false;
	}

.childCrumbLastLink {
	display: inline;
	font-family: trebuchet, trebuchet ms, sans-serif;
	color: #666666;
	font-size: 11px;
	line-height: 13px;
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	text-decoration: none;
	background-image: none;
	visible: false;
	}
	
.childCrumb a:hover {
	text-decoration: underline;
	visible: false;
	}

.spacerCrumb {
	padding: 0px 3px 0px 3px;
	display: inline;
	font-style: normal;
	color: #666666;
	font-family: trebuchet, trebuchet ms, sans-serif;
	font-size: 13px;
	line-height: 13px;
	visible: false;
	}

.elementTitle {
	padding: 0px 0px 0px 0px;
	font-weight: normal;
	font-family: trebuchet, trebuchet ms, sans-serif;
	color: #9A382A;
	font-size: 13px;
	line-height: 15px;
	display: block;
	caption: Category Subheading;
	}
	
.largeText {
	margin: 0px 0px 0px 0px;
	font-weight: normal;
	font-family: trebuchet, trebuchet ms, sans-serif;
	color: #666666;
	font-size: 12px;
	line-height: 15px;
	caption: Large Text;
	}
	
.text {
	margin: 0px 0px 0px 0px;
	font-weight: normal;
	font-family: trebuchet, trebuchet ms, sans-serif;
	color: #666666;
	font-size: 11px;
	line-height: 13px;
	caption: Default Text;
	}
	
.textBold {
	margin: 0px 0px 0px 0px;
	font-weight: bold;
	font-family: trebuchet, trebuchet ms, sans-serif;
	color: #666666;
	font-size: 11px;
	line-height: 13px;
	caption: Default Text;
	}
	
.locatorHead {
	font-family: trebuchet, trebuchet ms, sans-serif;
	color: #5C130A;
	font-weight: bold;
	display: inline;
	visible: false;
	}
	
.locatorCopy {
	margin: 0px 0px 0px 4px;
	font-family: trebuchet, trebuchet ms, sans-serif;
	color: #5C130A;
	font-weight: normal;
	display: inline;
	visible: false;
	}
	
a.moreLGLink {
	padding: 0px 0px 10px 2px;
	font-weight: normal;
	text-decoration: none;
	color: #CE0027;
	font-family: trebuchet, trebuchet ms, sans-serif;
	font-size: 12px;
	line-height: 14px;
	display: inline;
	visible: false;
	}
	
a.moreLGLink:hover {
	padding: 0px 0px 10px 2px;
	font-weight: normal;
	font-family: trebuchet, trebuchet ms, sans-serif;
	font-size: 12px;
	line-height: 14px;
	color: #CE0027;
	text-decoration: underline;
	display: inline;
	visible: false;
	}
	
.moreLGChev {
	padding: 0px 0px 0px 2px;
	font-style: normal;
	font-weight: bold;
	font-family: trebuchet, trebuchet ms, sans-serif;
	color: #666666;
	font-size: 14px;
	line-height: 14px;
	display: inline;
	visible: false;
	}
	
.moreChev {
	padding: 0px 0px 0px 0px;
	font-style: normal;
	font-weight: bold;
	color: #666666;
	font-family: trebuchet, trebuchet ms, sans-serif;
	font-size: 13px;
	line-height: 13px;
	display: inline;
	visible: false;
	}
	
a.moreLink {
	padding: 0px 0px 0px 4px;
	font-weight: normal;
	text-decoration: none;
	color: #CE0027;
	font-family: trebuchet, trebuchet ms, sans-serif;
	font-size: 11px;
	line-height: 13px;
	display: inline;
	visible: false;
	}
	
a.moreLink:hover {
	padding: 0px 0px 10px 4px;
	font-weight: normal;
	font-family: trebuchet, trebuchet ms, sans-serif;
	font-size: 11px;
	line-height: 13px;
	color: #CE0027;
	text-decoration: underline;
	display: inline;
	visible: false;
	}
	
.pageTitle {
	padding: 0px 0px 0px 0px;
	font-family: trebuchet, trebuchet ms, sans-serif;
	font-weight: normal;
	color: #5C130A;
	font-size: 16px;
	line-height: 15px;
	display: block;
	caption: SubHeader Text;
	}

.pageSubTitle {
	margin: 14px 0px 0px 0px;
	font-weight: normal;
	font-family: trebuchet, trebuchet ms, sans-serif;
	color: #5C130A;
	font-size: 13px;
	line-height: 20px;
	display: block;
	visible: false;
	}
	
.Header {
	margin: 0px;
	margin-top: 20px;
	margin-bottom: 0px;
	font-weight: normal;
	color: #5C130A;
	font-family: trebuchet, trebuchet ms, sans-serif;
	font-size: 16px;
	visible: false;
	}
	
.homeProdServCopy{
	font-weight: normal;
	color: #666666;
	font-family: trebuchet, trebuchet ms, sans-serif;
	font-size: 11px;
	margin-bottom: 0px;
	display: block;
	visible: false;
	}
	
	
.bulletListItem {
	color: #AD1F28;
	width:100%;
	padding: 0px 0px 0px 0px;
	margin: 0px 0px 0px 0px;
	vertical-align: top;
	visible: false;
	}
	
.subIndBox{
	margin: 0px 0px 20px 5px;
	visible: false;
	}
	
.hRMargin {
	background-color: #EBEBEB;
	margin: 12px 0 15px 0; 
	height: 3px;
	width:100%;
	visible: false;
	}
	
/************************************************************
 Positioning
************************************************************/

/* the following id selectors refer to */
/* the master table and master divs    */

#parentPositioningDiv {
	position: relative;
	width: 750px;
	height: auto;
	margin-left: auto;
	margin-right: auto;
	text-align: left;
	/*border: 0px;*/
	visible: false;
	}

#masterTable {
	position: relative;
	display:table;
	width: 750px;
	visible: false;
	}

#masterTable td {
	display: table-cell;
	/*margin: 0px 0px 0px 0px;*/
	/*padding: 0px 0px 0px 0px;*/
	/*border: 1px solid red;*/
	border-spacing: 0px;
	border-collapse: collapse;
	visible: false;
	}

#masterTable tr {
	display: table-row;
	/*margin: 0px 0px 0px 0px;*/
	/*padding: 0px 0px 0px 0px;*/
	border: 0px;
	border-spacing: 0px;
	border-collapse: collapse;
	visible: false;
	}

#parentHeaderElementsCell {
	width:750px;
	visible: false;
	}

#parentLeftNavCell {
	width:180px;
	visible: false;
	/* Hide from IE-Mac \*/
		float: left;
	 /* End hide */
	}

#ParentSpacerOneCell {
	width:10px;
	visible: false;
	}

#parentMainContentCell {
	width:560px;
	visible: false;
	}
	
#parentMainContentOneColumnCell {
	width:560px;
	visible: false;
	}

#ParentSpacerTwoCell {
	width:10px;
	visible: false;
	}

#parentRightContentCell {
	width:180px;
	visible: false;
	}

#parentFooterBlankCell {
	width:190px;
	visible: false;
	}

#contentWrapper {
	width:560px;
	visible: false;
	}
	
#parentFooterContentCell {
	width:560px;
	visible: false;
	}

#parentCrumbsBlankCell {
	width:190px;
	height:50px;
	visible: false;
	}

#parentCrumbsContentCell {
	width:560px;
	height:50px;
	padding: 0px 0px 0px 0px;
	margin: 0px 0px 0px 0px;
	visible: false;
	}

/* header divs/images */
#dupontLogoDiv {
	height:82px;
	visible: false;
	}

#dupontBrandBarDiv {
	height:102px;
	width:750px;
	visible: false;
	}

#hdrImg {
	float:right;
	visible: false;
	}

#hdrNavBoxDiv {
	position:absolute;
	left:0px;
	top:0px;
	width:175px;
	height:103px;
	padding: 13px 0 0px 5px;
	background-image: url("../images/hdrNavBoxBg.gif");
	visible: false;
	}

#hdrNavBoxDiv .inlineImg {
	padding: 0px 0px 0px 0px;
	visible: false;
	}

/* Leftnav Related */

#leftNavTopSpacerDiv {
	width:175px;
	height:1px;
	margin-top: 2px;
	background-image: url("../images/globalDashes.gif");
	background-position: bottom;
	background-repeat: repeat-all;
	visible: false;
	}

.leftNavBreakDiv {
	width:175px;
	height:24px;
	background-image: url("../images/globalDashes.gif");
	background-position: bottom;
	background-repeat: repeat-x;
	visible: false;
	}

.leftNavBreakDivDirectory {
	width:175px;
	height:1px;
        margin-top: 2px;
	background-image: url("../images/globalDashes.gif");
	background-position: bottom;
	background-repeat: repeat-all;
	visible: false;
	}

/* breadcrumbs related stuff */

#parentCrumbsContentCell div {
	margin: 0px 0px 0px 0px;
	padding: 12px 0px 12px 5px;
	height: 25px;
	visible: false;
	}

/* footer related stuff */

#parentFooterContentCell div {
	padding: 0px 0px 0px 0px;
	visible: false;
	}

#parentFooterContentCell div.overline {
	border-top: 1px solid #cccccc;
	margin: 12px 0px 0px 0px;
	visible: false;
	}
	
#parentFooterContentCell p.overline {
	padding: 12px 0px 0px 5px;
	font-family: trembuchet ms, trembuchet-ms, trembuchet, sans-serif;
	font-weight: normal;
	font-size: 11px;
	color: #666666;
	display: block;
	visible: false;
	}

#parentFooterContentCell div p {
	margin: 0px 0px 0px 0px;
	padding: 10px 5px 0px 0px;
	color: #333333;
	visible: false;
	}
	
/* Main page footer related stuff */

#homeFooterContentCell {
	width:750px;
	padding: 0px 0px 0px 0px;
	visible: false;
	}

#homeFooterContentCell div {
	padding: 0px 0px 0px 5px;
	visible: false;
	}

#homeFooterContentCell div.overline {
	border-top: 1px solid #cccccc;
	margin: 12px 0px 0px 0px;
	visible: false;
	}
	
#homeFooterContentCell p.overline {
	padding: 12px 0px 0px 0px;
	font-family: trembuchet ms, trembuchet-ms, trembuchet, sans-serif;
	color: #666666;
	display: block;
	visible: false;
	}

#homeFooterContentCell div p {
	margin: 0px 0px 0px 0px;
	padding: 10px 5px 0px 0px;
	color: #333333;
	visible: false;
	}

/* general and miscelaneous */

img.totallyInline {
margin: 4px 0px 0px 0px;
display: inline;
float: left;
visible: false;
}

/* topNav related stuff */

#topNavMaster {
	width: 750px;
	height: 38px;
	background-color: #F3F3F3;
	background-image: url("../images/topNav_bg.gif");
	visible: false;
	}

#topNavColorBars {
	position: absolute;
	bottom: 0px;
	right: 0px;
	width: 274px;
	height: 15px;
	background-color: #D42233;
	background-image: url("../images/topNav_colorBars.gif");
	visible: false;
	}

#topNavSearchBox {
	position: absolute;
	top: 0px;
	right: 0px;
	width: 274px;
	height: 24px;
	padding: 3px 0px 0px 0px;
	margin: 0px 0px 0px 0px;
	background-color: #F3F3F3;
	visible: false;
	}
	
#topNavSearchText {
	font-family:  MyriadPro Regular,  sans-serif;;
	color: #999999;
	font-weight: normal;
	font-size: 12px;
	line-height: 12px;
	visible: false;
	}
	
#topNavSearchBtn {
	padding: 4px 0px 0px 0px;
	visible: false;
	}

#topNavMnDiv {
	position: absolute;
	left: 0px;
	top:0px;
	width: 461px;
	height: 24px;
	padding: 0px 0px 0px 7px;
	visible: false;
	}

#topNavSnDiv {
	position: absolute;
	left: 0px;
	top:24px;
	width: 490px;
	height: 24px;
	visible: false;
	}

.topNavSnInsideDiv {
	position: relative;
	padding: 0px 5px 0px 10px;
	display: none;
	visible: false;
	}

.topNavActiveDiv {
	position: absolute;
	visibility: visible;
	display: block;
	left: 0px;
	top:0px;
	width: 455px;
	height: 38px;
	padding: 0px 0px 0px 0px;
	visible: false;
	}

#topNavStopperTop {
	position: absolute;
	width: 466px;
	height: 4px;
	top:0px;
	left:0px;
	visible: false;
	}

#topNavStopperLeft {
	position: absolute;
	width: 10px;
	height: 38px;
	top:0px;
	left:0px;
	visible: false;
	}

#topNavStopperRight {
	position: absolute;
	width: 10px;
	height: 38px;
	top:0px;
	left:466px;
	visible: false;
	}

#topNavStopperBottom {
	position: absolute;
	width: 460px;
	height: 1px;
	bottom:0px;
	left:0px;
	visible: false;
	}

.twoColumnClearLeft {
	position: B;
	
	}

.twoColumnClearRight {
	position: relative;
	float: right;
	width: 50%;
	visible: false;
	}

#parentRightContentCell .spacePara .brownSubHeader {
	margin: 22px 0px 0px 0px;
	visible: false;
	}

.spacePara .onePxGreyBorder {
	margin: 6px 0px 6px 6px;
	visible: false;
	}

/* Home page tables and cells */
	
#parentHomeMainContentCell {
	width:480px;
	padding-bottom: 14px;
	visible: false;
	}

#parentHomeRightContentCell {
	width:260px;
	padding-right:5px;
	padding-left:5px;
	visible: false;
	}
	
#parentHomeRightContentCellBottom {
	width:265px;
	padding-right:5px;
	padding-left:0px;
	visible: false;
	}
	
#parentHomeSpacerTwoCellBottom {
	width:10px;
	visible: false;
	}
	
#parentHomeFeaturesContentCell {
	width:750px;
	visible: false;
	}
	
#parentHomeFooterContentCell {
	width:750px;
	visible: false;
	}
	
#homeNavBandTable {
	width:470px;
	padding-right:5px;
	padding-left:20px;
	visible: false;
	}
	
#homeNavBandCell {
	width:470px;
	visible: false;
	}

ul 	{
	margin: 0px 0px 0px 0px;
 	padding: 0px 0px 0px 0px;
 	display: block;
 	visible: false;
 	}
 
ul li   {
 	 margin: 0px 0px 0px 0px;
	 list-style-type: none;
	 padding: 0px 0px 0px 10px;
	 background-image: url("/globalassets/v3/images/globalSquareBullet.gif");
	 background-repeat: no-repeat;
	 background-attachment: left top;
	 display: block;
	 visible: false;
        }



ol {
	display: block;
	margin: 5px 0px 0px 22px;
	visible: false;
	}
	
ol[numeration="arabic"] li {
	list-style-type: decimal;
	padding: 0px 0px 0px 0px;
	font-family: trebuchet, trebuchet ms, sans-serif;
	font-weight: normal;
	color: #666666;
	font-size: 11px;
	line-height: 15px;
	display: block;
	caption: Ordered List;
	}
	
/* Contact Form Classes */
	
input {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
    font-style: normal;
    color: #666666;
    text-decoration: none;
    height: 19px
	}

textarea {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
    font-style: normal;
    color: #666666;
	width: 330px;
    text-decoration: none;
	}


select {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
    font-style: normal;
    color: #666666;
    text-decoration: none;
    height: 19px;
    list-style-type: square;
}

.formSubHead {
    font-family: Verdana, Arial, Helvetica, sans-serif; 
    font-size: 10px; 
    font-weight: bold;
    text-decoration: none; 
    color: #666666;
    visible: false;
}

.redTextBold {
    color: #FF0000;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 10px;
    font-weight: bold;
    visible: false;
}

.catHeading {
	font-family: trebuchet, trebuchet ms, sans-serif;
   	font-size: 16px;
	line-height: 20px;
	text-decoration: none;
	text-align: middle; 
    color: #5C130A;
    caption: Form Category Heading;
}

.bgmenucolor03 { Background-Color: #e6e6e6; visible: false; } /* cat bg */
.bgmenucolor05 { Background-Color: #e6e6e6; visible: false; } /* left nav 1px horiz line */

/* End Contact Form Classes */